<footer>
    <div class="container">
        <div class="footer-content">
            <div>
                <h4 class="logo" style="display: flex; align-items: center; gap: 10px;">
                    <img src="https://raw.githubusercontent.com/Ali7Zeynalli/SRC/main/www/temp/assets/images/logo.png" alt="S-RCS Logo" style="height: 35px;">
                </h4>
                <p data-i18n="footer.tagline">Server Reporting and Controlling System. <br>The future of AD management.</p>
            </div>
            <div>
                <h4 data-i18n="footer.resources">Resources</h4>
                <ul style="list-style: none;">
                    <li><a href="docs.html" data-i18n="footer.docs">Documentation</a></li>
                    <li><a href="changelog.html" data-i18n="footer.changelog">Changelog</a></li>
                    <li><a href="license.html" style="color: var(--danger);" data-i18n="footer.license">License & Policy</a></li>
                </ul>
            </div>
            <div>
                <h4 data-i18n="footer.opensource">Open Source</h4>
                <ul style="list-style: none;">
                    <li><a href="https://github.com/Ali7Zeynalli/NovusGate" target="_blank" data-i18n="footer.novusgate">NovusGate VPN</a></li>
                    <li><a href="https://github.com/Ali7Zeynalli/SRC" target="_blank" data-i18n="footer.srcs">S-RCS</a></li>
                </ul>
            </div>
            <div>
                <h4 data-i18n="footer.connect">Connect</h4>
                <ul style="list-style: none;">
                    <li><a href="https://github.com/Ali7Zeynalli/SRC"><i class="fa-brands fa-github"></i> <span data-i18n="footer.github">GitHub</span></a></li>
                    <li><a href="https://linkedin.com/in/ali7zeynalli"><i class="fa-brands fa-linkedin"></i> <span data-i18n="footer.linkedin">LinkedIn</span></a></li>
                    <li><a href="support.html" data-i18n="footer.enterprise">Enterprise Support</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p data-i18n="footer.copyright">&copy; 2025 Ali Zeynalli. All rights reserved.</p>
        </div>
    </div>
</footer>
