<footer>
    <div class="container">
        <div class="footer-content">
            <div>
                <h4 class="logo" style="display: flex; align-items: center; gap: 10px;">
                    <img src="https://raw.githubusercontent.com/Ali7Zeynalli/SRC/main/www/temp/assets/images/logo.png" alt="S-RCS Logo" style="height: 35px;">
                </h4>
                <p>Server Reporting and Controlling System. <br>The future of AD management.</p>
            </div>
            <div>
                <h4>Resources</h4>
                <ul style="list-style: none;">
                    <li><a href="docs.html">Documentation</a></li>
                    <li><a href="changelog.html">Changelog</a></li>
                    <li><a href="license.html" style="color: var(--danger);">License & Policy</a></li>
                </ul>
            </div>
            <div>
                <h4>Open Source</h4>
                <ul style="list-style: none;">
                    <li><a href="https://github.com/Ali7Zeynalli/NovusGate" target="_blank">NovusGate VPN</a></li>
                    <li><a href="https://github.com/Ali7Zeynalli/SRC" target="_blank">S-RCS</a></li>
                </ul>
            </div>
            <div>
                <h4>Connect</h4>
                <ul style="list-style: none;">
                    <li><a href="https://github.com/Ali7Zeynalli/SRC"><i class="fa-brands fa-github"></i> GitHub</a></li>
                    <li><a href="https://linkedin.com/in/ali7zeynalli"><i class="fa-brands fa-linkedin"></i> LinkedIn</a></li>
                    <li><a href="support.html">Enterprise Support</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2025 Ali Zeynalli. All rights reserved.</p>
        </div>
    </div>
</footer>
